body{
  font-family: "Arial", serif;
  background-color: #ffdb4d;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 30px;
}

h3{

}

.box{
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgb(0,0,0);
}

.button{
  font-size: 15px;
  width: 200px;
  height: 45px;
  text-align: center;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}
